<div class="container-fluid">
    <div class="row">
        <!--左导航栏-->
        <div class="hidden-xs  col-md-2">
            <div class="list-group">
                <a class="list-group-item list-group-item-success">
                    功能
                </a>
                <a class="list-group-item" href="/change_userinfo">更改个人信息</a>
                <a class="list-group-item" href="/change_password">更改密码</a>
                <a class="list-group-item">绑定车辆</a>
                <a class="list-group-item" href="/u_check_orders">查看申请详情</a>
            </div>
        </div>
        <!--右导航栏-->
        <div class="col-xs-10" id="con" >
            <label style="color: darkgreen;font-size: x-large">您的车辆：</label>
        </div>

        <div class="col-md-9" style="background-color: #dedef8;box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;border-radius: 20px">
            <div class="col-md-2" align="center">
                <img src="/statics/user/汽车.png" width="100px" >
            </div>
            <div class="col-md-8" >
                <h1 style="display:inline;font-size: 80px">车牌号：</h1>
                <h1 style="display:inline;font-size: 80px">苏-EM5F77新</h1>
            </div>
            <div class="col-md-2"  align="right" >
                <a type="button" style="font-size: 30px;background-color: lightskyblue;display:inline-block;box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">修改信息</a>
            </div>
            <div class="col-md-4"  >
                <h4 style="display:inline;font-size: 25px">车架号：</h4>
                <h4 style="display:inline;font-size: 25px">11111111111111111</h4>
            </div>
            <div class="col-md-3" >
                <h4 style="display:inline;font-size: 25px">颜色：</h4>
                <h4 style="display:inline;font-size: 25px">很土的黄</h4>
            </div>
            <div class="col-md-3"  >
                <h4 style="display:inline;font-size: 25px">车型：</h4>
                <h4 style="display:inline;font-size: 25px">很大的车</h4>
            </div>
            <div class="col-md-2"  >
                <h4 style="display:inline;font-size: 25px">类别：</h4>
                <h4 style="display:inline;font-size: 25px">很敞的篷</h4>
            </div>
        </div>

        <div class="col-md-9" ><br></br></div>

        <div class="col-md-9" style="background-color: #dedef8;box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;border-radius: 20px">
            <div class="col-md-2" align="center">
                <img src="/statics/user/汽车.png" width="100px" >
            </div>
            <div class="col-md-8" >
                <h1 style="display:inline;font-size: 80px">车牌号：</h1>
                <h1 style="display:inline;font-size: 80px">苏-EM5F77新</h1>
            </div>
            <div class="col-md-2"  align="right" >
                <a type="button" style="font-size: 30px;background-color: lightskyblue;display:inline-block;box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">修改信息</a>
            </div>
            <div class="col-md-4"  >
                <h4 style="display:inline;font-size: 25px">车架号：</h4>
                <h4 style="display:inline;font-size: 25px">11111111111111111</h4>
            </div>
            <div class="col-md-3" >
                <h4 style="display:inline;font-size: 25px">颜色：</h4>
                <h4 style="display:inline;font-size: 25px">很土的黄</h4>
            </div>
            <div class="col-md-3"  >
                <h4 style="display:inline;font-size: 25px">车型：</h4>
                <h4 style="display:inline;font-size: 25px">很大的车</h4>
            </div>
            <div class="col-md-2"  >
                <h4 style="display:inline;font-size: 25px">类别：</h4>
                <h4 style="display:inline;font-size: 25px">很敞的篷</h4>
            </div>
        </div>

        <div class="col-md-9" ><hr width="99999999%"></hr></div>

        <div class="col-md-12" align="center">
            <button><a data-toggle="modal" data-target="#add_car" data-backdrop="static" style="font-size: 40px">新增车辆</a></button>
        </div>

    </div>
</div>

<!-- 更改个人信息 -->
<div class="modal fade" id="change_info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-backdrop="static">&times;</button>
                <h3 class="modal-title" id="changeUserInfo">更改个人信息</h3>
            </div>
            <div class="modal-body">
                <img src="/statics/user/真实姓名.png" width="20px">
                <label style="font-size:15px;width: 100px;">姓名：</label>
                <input id="name" type="text" placeholder="请输入姓名"/><br></br>

                <img src="/statics/user/公司.png" width="20px">
                <label style="font-size:15px;width: 100px;">性质：</label>
                <select id="property">
                    <option value="个人" selected>个人</option>
                    <option value="公司">公司</option>
                </select><br></br>

                <img src="/statics/user/联系人.png" width="20px">
                <label style="font-size:15px;width: 100px;">联系人：</label>
                <input id="contact_person" type="text" placeholder="请输入联系人"/><br></br>

            </div>
            <form class="modal-footer">
                <label style="font-size:1px;width: 80px;color: red;">没有再次确认哦，真的</label>
                <button type="button" class="btn btn-primary" onclick="changeinfo()" id="confirmChangeInfo">确认更改</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </form>
        </div>
    </div>
</div>

<!-- 新增车辆 -->
<div class="modal fade" id="add_car" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-backdrop="static">&times;</button>
                <h3 class="modal-title" id="addNewVehicle">新增车辆</h3>
            </div>
            <div class="modal-body">
                <img src="/statics/user/井号.png" width="20px">
                <label style="font-size:15px;width: 80px;">车架号：</label>
                <input id="number" type="text" onchange="check_number()" placeholder="请输入车架号"/>
                <span id="checktext1"></span> <br></br>

                <img src="/statics/user/车牌.png" width="20px">
                <label style="font-size:15px;width: 80px;">车牌号：</label>
                <input id="license_number" type="text" onchange="check_license_number()" placeholder="请输入车牌号"/>
                <img src="/statics/user/问号.png" width="20px">
                <span id="checktext2"></span> <br></br>

                <img src="/statics/user/颜色.png" width="20px">
                <label style="font-size:15px;width: 80px;">车辆颜色：</label>
                <input id="color" type="text" placeholder="请输入车辆颜色"/><br></br>

                <img src="/statics/user/车型.png" width="20px">
                <label style="font-size:15px;width: 80px;">车型：</label>
                <input id="model" type="text" placeholder="请输入车型"/><br></br>

                <img src="/statics/user/类别.png" width="20px">
                <label style="font-size:15px;width: 80px;">车辆类别：</label>
                <input id="type" type="text" placeholder="请输入车辆类别"/><br></br>
            </div>
            <form class="modal-footer">
                <label style="font-size:1px;width: 80px;color: red;">没有再次确认哦，真的</label>
                <button type="button" class="btn btn-primary" onclick="addVehicle()" id="confirmAddVehicle">确认新增</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </form>
        </div>
    </div>
</div>