body{
	background-image: url("timg.jpg");
	background-repeat: repeat-y;
	background-size: cover;
}
div.div1{
	border: 3px dotted red;
	margin-left: 28%;
	width: 559px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
	background-color: black;
	text-align: center;
}
h1.errorhead{
	color: white
}
pre{
	font-weight: 600;
	color: white;
}
button{
    display: block;
    width: 150px;
    background-color: #18b9e7;
    margin-left: 37%;
    color: white;
	padding: 5px;
	margin-bottom: 30px;
}