div.div1{
	padding:1em;
	border: 1em solid transparent;
	background: linear-gradient(white,white) padding-box,repeating-linear-gradient(-45deg, red 0, #ff0000 12.5%, transparent 0, transparent 25%, #58a 0, #58a 37.5%, transparent 0, transparent 50%) 0/5em 5em;
}

p.div1p{
	line-height: 15px;
	font-size: 25px;
}

div.div2{
	width:auto;
	height:3px; 
	margin-top: 25px;
	margin-bottom: 25px;
	background:#E0E0E0;
}

div.examineform {
  position: relative;
}

div.examineform input {
    background: #f2f4f6;
    border-radius: 17px;
    width: 300px;
    height: 36px;
    border: none;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.4);
    padding: 0 41px 0 21px;
    transition: width 300ms;
}

div.examineform .examineform_button {
    position: relative;
    right: 65px;
	border: 1px dotted gray;
	cursor: pointer;
}

.transform-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
